PyYAML==5.1
Sphinx==2.0.1
boto3==1.9.137
bumpversion==0.5.3
coverage==4.5.1
django==2.0.5
django-allauth==0.36.0
django-environ==0.4.4
django-tables2==1.21.2
fabric3==1.14.post1
flake8==3.5.0
model_mommy==1.5.1
pelican==3.7.1
psutil==5.4.4  # To deal with testing locking files on windows
psycopg2-binary==2.7.4  # Without this will crash?
python-dotenv==0.8.2
recommonmark==0.4.0  # To support Markdown in docs
tox==3.0.0
unipath==1.1
watchdog==0.8.3
wheel==0.31.1
whitenoise==3.3.1
