PyYAML==3.13
Sphinx==1.8.4
boto3==1.9.91
bumpversion==0.5.3
coverage==4.5.2
django==2.1.6
django-allauth==0.38.0
django-environ==0.4.5
django-tables2==2.0.4
fabric3==1.14.post1
flake8==3.7.5
model_mommy==1.6.0
pelican==4.0.1
psutil==5.5.0  # To deal with testing locking files on windows
psycopg2-binary==2.7.7  # Without this will crash?
python-dotenv==0.10.1
recommonmark==0.5.0  # To support Markdown in docs
tox==3.7.0
unipath==1.1
watchdog==0.8.3
wheel==0.31.1
whitenoise==3.3.1
