PyYAML==5.1.1
Sphinx==2.1.1
boto3==1.9.169
bumpversion==0.5.3
coverage==4.5.3
django==2.2.2
django-allauth==0.39.1
django-environ==0.4.5
django-tables2==2.0.6
fabric3==1.14.post1
flake8==3.7.7
model_mommy==1.6.0
pelican==4.0.1
psutil==5.6.3  # To deal with testing locking files on windows
psycopg2-binary==2.7.4  # Without this will crash?
python-dotenv==0.8.2
recommonmark==0.4.0  # To support Markdown in docs
tox==3.0.0
unipath==1.1
watchdog==0.8.3
wheel==0.31.1
whitenoise==3.3.1
