django==2.2.4
psycopg2-binary==2.8.3  # Without this will crash?
django-allauth==0.39.1 # sign in niceties
django-tables2==2.1.0 # Demo table format
model_mommy==1.6.0

# WSGI Handler
# ------------------------------------------------
gevent==1.4.0
gunicorn==19.9.0

# Environment and static files
django-environ==0.4.5
whitenoise==4.1.3
