django==5.0.6
psycopg2-binary==2.9.9  # Without this will crash?
django-allauth==0.63.3 # sign in niceties
django-tables2==2.7.0 # Demo table format
model_mommy==2.0.0

# WSGI Handler
# ------------------------------------------------
gevent==24.2.1
gunicorn==22.0.0

# Environment and static files
django-environ==0.4.5
whitenoise==4.1.4
