django==4.2.1
psycopg2-binary==2.9.6  # Without this will crash?
django-allauth==0.54.0 # sign in niceties
django-tables2==2.5.3 # Demo table format
model_mommy==2.0.0

# WSGI Handler
# ------------------------------------------------
gevent==22.10.2
gunicorn==20.1.0

# Environment and static files
django-environ==0.10.0
whitenoise==6.4.0
